/** Lego Brick ratio: 6 height/5 width per stud, each stud is 3 in diameter **/
/** Cubes marked in Rubix Cube Notation, F - Front, R - Right, B - Back, L - Left, U - Up, D - Down **/

.brick {
  position: relative;
  transform-style: preserve-3d;
}

.brick-face {
  border: 1px solid var(--lego-border);
  line-height: var(--tower-width);
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
}

/** Making each 1x1 brick 60px tall, 50px width, so 30px per diameter stud  **/
/** So a standard 2x4 brick is 60px tall and 200px wide, may have to half this **/
* {
  --lego-blue: #006bb7;
  --lego-green: #9ac93b;
  --lego-red: #dd1a21;
  --lego-brown: #692e14;
  --lego-border: #353535;
}

.tower-F::before {
  /* content: "";
  position: absolute;
  inset: -5px; 
  z-index: -1; 
  background: linear-gradient(65deg, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0));
  filter: blur(10px); */
}

.stud-U {
  position: absolute;
  border: 1px solid var(--lego-border);
  border-radius: 50%;
  transform: rotateX(90deg);
  z-index: 10;
}

.stud-R {
  position: absolute;
  border-left: 1px solid var(--lego-border);
  border-right: 1px solid var(--lego-border);
  z-index: 10;
}

.stud-B {
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--lego-border);
  transform: rotateX(90deg);
  z-index: 10;
}
