/** Lego Brick ratio: 6 height/5 width per stud, each stud is 3 in diameter **/

* {
  box-sizing: border-box;
  perspective-origin: center;
  --box-size: 100px;
  --tower-height: 600px;
  --tower-width: 300px;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-color: navajowhite;
}
/* .scene-container {
  
} */

.scene {
  position: relative;
  perspective: 500px;
}

.tower-position {
  position: absolute;
  /* top: 20px; */
  left: -150px;
  top: 150px;
  z-index: 2;
}

.stud-position-1 {
  position: absolute;
  top: 125px;
  left: -15px;
  z-index: 10;
}
.stud-position-2 {
  position: absolute;
  top: 100px;
  left: -15px;
  z-index: 10;
}
.stud-position-3 {
  position: absolute;
  top: 112px;
  left: -50px;
  z-index: 10;
}
.stud-position-4 {
  position: absolute;
  top: 112px;
  left: 20px;
  z-index: 10;
}

.tower {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) translateZ(-100px);
}

.tower-face-side {
  position: absolute;
  height: var(--tower-height);
  width: var(--tower-width);
  border: 1px solid var(--lego-border);
  line-height: var(--tower-width);
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.tower-face-top {
  position: absolute;
  height: var(--tower-width);
  width: var(--tower-width);
  border: 1px solid var(--lego-border);
}

/** Making each 1x1 brick 60px tall, 50px width, so 30px per diameter stud  **/
/** So a standard 2x4 brick is 60px tall and 200px wide, may have to half this **/
* {
  --lego-blue: #006bb7;
  --lego-green: #9ac93b;
  --lego-red: #dd1a21;
  --lego-brown: #692e14;
  --lego-border: #353535;
}

.tower-left::before {
  content: "";
  position: absolute;
  inset: -5px; /* control the spread */
  z-index: -1; /* place the element behind */
  background: linear-gradient(65deg, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0));
  filter: blur(10px); /* control the blur */
}

.tower-left {
  background-color: var(--lego-border);
  transform: rotateY(-45deg) translateZ(calc(var(--tower-width) / 2));
  background-repeat: repeat-x;
  background-image: linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-green) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-brown) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-green) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-brown) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-green) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-brown) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-green) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-brown) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-green) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-brown) 202px 400px
    );

  background-size: 400px 59px;
  background-position: 0px 0px, -100px 60px, 0px 120px, -100px 180px, 0px 240px,
    -100px 300px, 0px 360px, -100px 420px, 0px 480px, -100px 540px;
}

.tower-right {
  background-color: darkgreen;
  transform: rotateY(45deg) translateZ(calc(var(--tower-width) / 2));
  background-repeat: repeat-x;
  background-image: linear-gradient(
      90deg,
      var(--lego-red) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-blue) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-green) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-red) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-blue) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-green) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-red) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-blue) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-green) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-red) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-blue) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-green) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-red) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-blue) 202px 400px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-green) 202px 400px
    );

  background-size: 400px 59px;
  background-position: 0px 0px, -100px 60px, 0px 120px, -100px 180px, 0px 240px,
    -100px 300px, 0px 360px, -100px 420px, 0px 480px, -100px 540px;
}

.tower-top {
  background-color: var(--lego-border);
  transform: rotateX(90deg) rotateZ(45deg)
    translateZ(calc(var(--tower-width) / 2));
  background-repeat: repeat-x;
  background-image: linear-gradient(
      90deg,
      var(--lego-red) 0px 100px,
      var(--lego-border) 100px 102px,
      var(--lego-blue) 102px 300px
    ),
    linear-gradient(
      90deg,
      var(--lego-brown) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 300px
    ),
    linear-gradient(
      90deg,
      var(--lego-blue) 0px 200px,
      var(--lego-border) 200px 202px,
      var(--lego-red) 202px 300px
    );

  background-size: 300px 99px;
  background-position: 0px 0px, 0px 100px, 0px 200px;
}

.stud {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) translateZ(-100px);
}

.stud-top {
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: var(--lego-red);
  border: 1px solid var(--lego-border);
  border-radius: 50%;
  transform: rotateX(90deg) translateZ(50px);
}

.stud-side {
  height: 20px;
  width: 30px;
  top: 10px;
  position: absolute;
  background-color: var(--lego-red);
  /* border-radius: 50%; */
  border-left: 1px solid var(--lego-border);
  border-right: 1px solid var(--lego-border);
  z-index: -1;
  transform: rotateX(90deg) translateZ(50px);
}

.stud-bottom {
  height: 30px;
  width: 30px;
  top: 10px;
  position: absolute;
  background-color: var(--lego-red);
  border-radius: 50%;
  /* z-index: 50; */
  border: 1px solid var(--lego-border);
  /* border-image: linear-gradient(80deg, rgb(0, 0, 0, 255), rgb(0, 0, 0, 0)); */
  transform: rotateX(90deg) translateZ(50px);
}
